{% macro display_sources_list(sources_resulting_list) %}
    <div class="row">
        {% for source in sources_resulting_list %}
        <div class="col-md-4" style="height: 250px;width: 100%;;display: block;background-color: white">
            <h3 style="color:black; font-weight:600;font-family: 'Cinzel Decorative', cursive;list-style-type: none;">
                <li>{{source.name}}</li>
            </h3>
            <li style="font-size:18px;list-style-type: none;"> <strong>ABOUT SOURCE:</strong> {{source.description}}</li>
            <li style=" font-size:18px;list-style-type: none;"><strong>COUNTRY:</strong> {{source.country}}</li>
            <a href="">
                <li style=" font-size:18px;list-style-type: none;"><strong>OFFICIAL SITE:</strong> {{source.url}}</li>
            </a>
            <a href="/sources/{{source.id}}" class="btn btn-primary" style="font: size 18px;font-family: 'League Gothic' , cursive;">See
                {{source.name}} news articles</a>
        </div>
        {% endfor %}
    </div>
{% endmacro %}